<% content_for :title, "App - Articles" %>

<h1 class="title">Articles</h1>
<%= link_to "New Article", new_article_path, class: "button" %>
<ul>
  <% @articles.each do |article| %>
    <li>
       <%= link_to article.title, article %>
    </li>
  <% end %>
</ul>