<% content_for :title, "App - Article - #{@article.title}" %>

<div class="is-flex is-flex-direction-row is-justify-content-space-between">
  <div class="is-flex">
    <h1 class="title"><%= @article.title %></h1>
  </div>
  <div class="is-flex">
    <%= link_to "Edit", edit_article_path, class: "button is-link mb-3 mr-3" %>
     <%= link_to "Delete", article_path(@article), method: :delete, data: { confirm: "Are you sure?" }, class: "button is-link mb-3" %>
  </div>
</div>

<p><%= @article.body %></p>